.body{
    background-color: lightgray;
}

.titulo{
    text-align: center
}

.explicacao{
    text-align: center;
    text-decoration: solid;
   text-transform: uppercase;
}

#botao{
 border-radius: 40px;
 border: solid;
 height: 40px;
 width: auto;
}